.chats{
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chats__messages {
  flex: 1;
  overflow: scroll;
}
.chats__messages::-webkit-scrollbar{
  display: none;
}
.chats__messages{
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: column-reverse;
}

.chats__input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background-color: #474b53;
}

.chats__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chats__input > form {
  flex: 1;
}

.chats__inputButton {
  display: none;
}

.chats__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}
