.chatsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
}

.chatsHeader__hash {
  color: gray;
  font-size: 30px;
  padding: 10px;
}

.chatsHeader__left > h3{
  display: flex;
  align-items: center;
  /* color: white; */
}

.chatsHeader__right {
  display: flex;
  justify-content: space-between;
}
.chatsHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}
.chatsHeader__right > .MuiSvgIcon-root:hover {
  color: white;
}
.chatsHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chatsHeader__search > input {
  background-color: transparent;
  outline-width: 0;
  color: white;
  border: none;
}
.chatsHeader__otherIcons {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding-left: 20px;
}
.chatsHeader__center {
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 671px) {
.chatsHeader__otherIcons {
  display: none;
}
.chatsHeader__right {
  align-items: right;
  justify-content: flex-end;
}
.chatsHeader {
  justify-content: flex-end;
  padding: 18px 0;
}
.chatsHeader__center svg {
  justify-self: flex-start;
}
#logo {
  position: absolute;
  left: 50px;
  top: 10px;
}

.chatsHeader__right h3 span {
  text-align: center;
  margin-top: auto;
  font-size: 20px;
  padding-left: 0;
}

.message_input::placeholder {
  font-size: 12px;
  
}
}

.line {
  width: 25px;
  height: 2px;
  background: white;
  margin: 5px auto;  
}
.hamburger {
  position: absolute;
  background-color: transparent;
  left: 10px;
  top: 20px;
  z-index: 10;
  box-shadow: none;
}
@media screen and (min-width: 671px) {
  .chatsHeader__right {
    flex: 0.45 1;
}

.chatsHeader__center {
  display: none;
}
.hamburger {
  display: none;
}
}
