.sidebarChannel:hover > h4 {
    background-color: #40464b;
    color: white;
}
.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3135;
    color: grey;
    cursor: pointer;
}
.sidebarChannel__hash{
    font-size: 30px;
    padding: 8px;
}

.sidebarChannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sidebarChannel:hover {
    background-color: #40464b;
    
}
.sidebarChannel__delete{
    cursor: pointer;
    /* background-color: #2f3135; */
    color: grey;
}
.sidebarChannel__delete:hover{
    color: white;
}

.sidebarChannel__selected {
    background-color: #40464b;
}

.sidebarChannel__selected > h4 {
background-color: #40464b;
}